/* Sidebar.css */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: linear-gradient(to right, #0d8b7a, #00558f, #29c59a);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  li {
    margin: 10px 0;
  }
  
  a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: color 0.3s ease-in-out;
  }
  
  a:hover {
    color: #db36aa;
  }
  